* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.topicsContainer {
    height: 10em;
    width: 2em;
    background-color: hsl(53, 100%, 46%);
    color: black;
    position: fixed;
    top: 11em;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.button {
    background-color: transparent;
    border: none;
    width: 2em;
    cursor: pointer;
}

.arrowButton {
    height: 3em;
}

.topics {
    height: 25em;
    width: 10em;
    background-color: hsl(53, 100%, 46%);
    position: fixed;
    top: 11em;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header {
    height: 4em;
    border-bottom: 5px solid white;
    display: flex;
}

@media only screen and (min-width: 2560px) {
    .topicsContainer {
        right: 25%;
        width: 4em;
    }

    .topics {
        right: 25%;
    }
}