* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homeContainer {
    background-color: black;
    height: 50em;
    color: aliceblue;   
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.contents {
    position: relative;
    top: 10em;
}

@media only screen and (min-width: 1024px) {
    .homeContainer {
        height: 70em;
    }
}

@media only screen and (min-width: 2560px) {
    .homeContainer {
        width: 50%;
        margin: 0 auto;
    }
}