* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navContainer {
    height: 7em;
    width: 100%;
    background-color: hsl(53, 100%, 46%);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.nameAndLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.logo {
    height: 2em;
    width: 2em;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}

.inputSearch {
    width: 8em;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.button {
    width: 4em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .inputSearch {
        width: 10em;
        height: 1.5em;
    }

    .button {
        width: 5em;
        height: 1.5em;
    }
}

@media only screen and (min-width: 2560px) {
    .navContainer {
        width: 50%;
        margin: 0 auto;
        height: 9em;
    }

    .nameAndLogo,
    .inputSearch, 
    .button
    {
        font-size: 20px;
    }

    
}